# Database URLS
DATABASE_URL="postgresql+asyncpg://username@localhost/databasename"
REDIS_URL="redis://localhost:6379/0"

# JWT
# python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET="long32bytestring"

# Frontend
FRONTEND_URL="http://localhost:3000"

# you-do-sudoku-api
YOUDOSUDOKU_API_KEY=abc123
YOUDOSUDOKU_ENDPOINT="https://youdosudoku.com/api"
