#Database URLS
DATABASE_URL="postgresql+asyncpg://username@localhost/databasename"
REDIS_URL="redis://localhost:6379/0"

#JWT
# python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET="long32bytestring"
